:root {
   /* COLORS */
   --text-color: #111517;
   --search-color: #848484;
   --accent-color: #ffffff;
   --background-color: #F2F2F2;

   /* SHADOWS */
   --navbar-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0562443);
   --input-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
   --card-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.0294384);
}

.dark-theme {
   /* COLORS */
   --text-color: #ffffff;
   --search-color: #2B3844;
   --accent-color: #2B3844;
   --background-color: #202C36;

   /* SHADOWS */
   --navbar-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0562443);
   --input-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
   --card-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.0294384);
   --borders-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.104931);
}

html {
   box-sizing: border-box;
 }
 
 *,
 *::after,
 *::before {
   box-sizing: inherit;
 }
 
body {
   font-family: 'Nunito Sans', sans-serif;
   font-weight: 300;
   font-size: 14px;
   line-height: 16px;

   color: var(--text-color);
   background-color: var(--background-color);
}

/* GLOBAL */
.container {
   max-width: 1311px;
   padding-left: 15px;
   padding-right: 15px;
   margin-left: auto;
   margin-right: auto;
}

.card-container {
   padding: 0 0 34px 24px;
}

a {
   text-decoration: none;
   color: var(--text-color);
}

.d-f {
   display: flex;
   align-items: center;
}

img {
   max-width: 100%;
   height: auto;
}

/* NAVBAR */
.nav {
   margin-bottom: 48px;

   background-color: var(--accent-color);
   box-shadow: var(--navbar-shadow);
}

.navbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.title {
   margin: 0;

   font-weight: 800;
   font-size: 24px;
   line-height: 33px;
}

.btn {
   position: relative;
   margin: 29px 0;

   background-color: transparent;
   color: var(--text-color);
   border: none;

   font-weight: 600;
   font-size: 16px;
   line-height: 22px;
}

.btn::before {
   content: "";
   position: absolute;
   background: url("/img/Path.png") no-repeat center center;
   width: 18px;
   height: 17px;
   left: -20px;
   top: 3px;
}

/* FEATURES */

.features-section {
   margin-bottom: 48px;
}

.features {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

input[type="search"] {
   padding: 18px 10px 18px 74px;
   width: 402px;

   border: none;
   border-radius: 5px;
   box-shadow: var(--input-shadow);
   background-image: url("/img/search.png");
   background-color: var(--accent-color);
   background-repeat: no-repeat;
   background-position: 32px center;
}

input::placeholder {
   color: var(--search-color);
}

#category-filter{
   width: 200px;
   padding: 18px 22px 18px 24px;
   -moz-appearance: none;
   -webkit-appearance: none;
   background: url("/img/arrow.png") var(--accent-color) no-repeat 166px center;
   border: none;
   border-radius: 5px;
   box-shadow: var(--input-shadow);
   color: var(--text-color);
}

input:focus,
select:focus,
button {
   outline: none;
}

/* CARDS */

main {
   margin-bottom: 46px;
}

.cards {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   gap: 75px;
}

.card {
   background: var(--accent-color);
   box-shadow: var(--card-shadow);
   border-radius: 5px;
}

.card:hover {
   box-shadow: var(--navbar-shadow);
}

.card__image {
   max-width: 100%;
   height: auto;

   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
}

.country-name {
   margin-top: 24px;
   margin-bottom: 16px;
   font-weight: 800;
   font-size: 18px;
   line-height: 26px;
}

span {
   font-weight: 600;
}

.population,
.region,
.capital,
.native,
.sub-region,
.domain,
.current,
.language {
   margin-top: 0;
   margin-bottom: 8px;
}

/* ABOUT PAGES */

/* BACK BUTTON */
.back {
   margin-top: 80px;
   margin-bottom: 80px;
}

.back-link {
   padding: 10px 39px 10px 32px;
   background-color: var(--accent-color);
   color: var(--text-color);
   border-radius: 5px;
   box-shadow: var(--input-shadow);
}

.back-link:hover {
   box-shadow: var(--navbar-shadow);
}

.back-link img {
   position: relative;
   padding-right: 10px;
}

/* COUNTRY INFO */

.country {
   width: 100%;
}

.flag {
   margin-right: 120px;
   border-radius: 10px;
}

.country__title {
   margin-bottom: 23px;

   font-weight: 800;
   font-size: 32px;
   line-height: 44px;

   color: var(--text-color);
}

.country__info {
   display: flex;
   justify-content: space-between;
   width: 100%;
   margin-bottom: 68px;
}

.border {
   display: flex;
   flex-wrap: wrap;
}
.border-country {
   background: var(--accent-color);
   box-shadow: var(--borders-shadow);
   border-radius: 2px;
   margin-right: 10px;
   margin-bottom: 10px;
   padding: 5px 27px;
}

.border-country:hover {
   box-shadow: var(--input-shadow);
}

.border-countries {
   margin-right: 16px;
   position: relative;
   top: 6px;
}


/* MOBILE VERSION */

@media screen and (max-width: 767px) {
   .features {
      flex-direction: column;
      align-items: flex-start;
   }

   input[type="search"] {
      width: 75%;
      margin-bottom: 40px;
   }

   .features-section {
      margin-bottom: 32px;
   }

   .cards {
      grid-template-columns: none;
      gap: 40px;
      justify-content: center;
   }

   .title {
      font-size: 14px;
   }

   .theme-mode, 
   input[type="search"],
   select {
      font-size: 12px;
   }

   .d-f {
      flex-direction: column;
   }

   .flag {
      margin-right: 0;
   }

   .country__title {
      margin-top: 44px;
      margin-bottom: 16px;

      font-size: 22px;
      line-height: 30px;
   }

   .country__info {
      flex-direction: column;
   }
}